---
layout: home
title: Epic Private Internet Cash | A Peer-to-Peer Electronic Cash System - Digital Money for Everyone
meta_description: A private, scarce, decentralized cryptocurrency built by a growing community of volunteers. Built by the Epicenter DAO with no ICO, premine or affiliation with no corporation, VC's, or governments.
og_title: Epic Cash - A decentralized cryptocurrency that is scarce, private, fungible, and censorship resistant.
og_description: The future of money is Epic Cash, a private, fungible, censorship resistant cryptocurrency.
og_url: /index.html
image: /img/twitter-card-home.jpg
---

<div id="fullpage">
	<div class="section frame fp-auto-height-responsive" id="hero">
       <!-- Header -->
      {% if site.custom_header == true %}
        {% include header-custom.html %}
      {% else %}
        {% include header.html %}
      {% endif %}
       
        <div class="row">
            <div class="col">
                <h1>Epic Cash</h1>
                <h2>Decentralized privacy-enhanced cryptocurrency developed by a growing volunteer community</h2>
            </div>
        </div>
    </div>
	<div class="section frame fp-auto-height-responsive" id="features">
        <div class="row between-row">
            <div class="col slide-title">
               <div class="row align-between">
                   <h3 class="col">Features</h3>
                   <ul class="col">
                       <li>No premine</li>
                       <li>No ICO</li>
                       <li>No corporation</li>
                       <li>No executives</li>
                       <li>No venture capital</li>
                       <li>No government affiliations</li>
                       <li>No physical presence</li>
                   </ul>
               </div>
            </div>
            <div class="col slide-content">
                <div class="row between-row">
                    <div class="col feature">
                        <img src="img/scarce.svg">
                        <h3>Scarce</h3>
                        <p>A maximum supply of 21 million PoW mined coins with an accelerated emissions schedule to match BTC's supply by June 2028.</p>
                    </div>
                    <div class="col feature">
                        <img src="img/fungible.svg">
                        <h3>Fungible</h3>
                        <p>No tainted coins - featuring protocol-level, mandatory CoinJoin, which resets the ownership history each time coins are spent.</p>
                    </div>
                    <div class="col feature">
                        <img src="img/lock.svg">
                        <h3>Censorship Resistant</h3>
                        <p>No one can interfere with Epic transactions. They cannot be blocked, blacklisted, filtered, or data-mined. The network itself is exceptionally resilient, with a proven history of resisting significant challenges.</p>
                    </div>
                    <div class="col feature">
                        <img src="img/centralized.svg">
                        <h3>Centralization Resistant</h3>
                        <p>Accessible multi-algorithm mining allows for a variety of equipment types to participate, not just the latest special-purpose ASICs.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
	<div class="section frame fp-auto-height-responsive" id="mining">
	    <div class="row between-row">
            <div class="col slide-title">
                <h3>Mining</h3>
            </div>
            <div class="col slide-content">
                <h2><span>Accessible</span> mining</h2>
                <p class="comment">Representing a genuine breakthrough in the state of the art in proof of work, Freeman Multi-Algorithm Proof of Work dynamically allocates block rewards according to a governance-specified flexible modular cipher policy. Currently, 48% of block rewards accrue to CPU on RandomX, 48% to GPU on ProgPow, and 4% to ASIC on Cuckoo 31+. Difficulty adjusts for each hardware type individually every 2 hours, not 2 weeks like BTC.</p>
                <img src="/img/mining-chart.svg" class="chart">
            </div>
        </div>
	</div>
	<div class="section frame fp-auto-height-responsive" id="blockchain">
        <div class="row between-row">
            <div class="col slide-title">
                <h3>Blockchain</h3>
            </div>
            <div class="col slide-content">
                <h2>Fast, lightweight, cost-effective, and <span>scalable</span></h2>
                <p class="comment">At <2GB, the Epic Blockchain is orders of magnitudes smaller than BTC and Monero. As such, the entire system can fit on a low-end smartphone.</p>
                <!--p><a href="#" class="btn-more">Learn more <i class="icon-right"></i></a></p-->
            </div>
        </div>
    </div>
	<div class="section frame fp-auto-height-responsive" id="compliance">
        <div class="row between-row">
            <div class="col slide-title">
                <h3>Compliance</h3>
            </div>
            <div class="col slide-content">
                <h2>Epic is <span>compliant</span> with current and future regulations</h2>
                <p class="comment">Users interact directly with the blockchain - no custodial intermediary or third party trusted node required. Fair launched without an ICO, premine, or even team tokens, the protocol sets a new bar for Howey Test safety, reducing risks and uncertainties for developers and entrepreneurs.</p>
                <!--p><a href="#" class="btn-more">Learn more <i class="icon-right"></i></a></p-->
            </div>
        </div>
    </div>
	<div class="section frame fp-auto-height-responsive" id="ecosystem">
        <div class="row between-row">
            <div class="col slide-title">
                <h3>Ecosystem</h3>
            </div>
            <div class="col slide-content">
                <h2>Epic is your key to the <span>Epicenter</span> ecosystem</h2>
                <p class="comment">The Epicenter ecosystem provides the solid monetary platform that decentralized finance requires. Within this framework, anyone, anywhere, can create secure, scalable, globally accessible financial services in minutes.</p>
                <p><a href="https://epicenter.epic.tech/" class="btn-more" target="_blank">Learn more <i class="icon-right"></i></a></p>
            </div>
        </div>
    </div>
	<div class="section frame fp-auto-height-responsive" id="home-footer">
        <div class="row">
            <div class="col">
                <p>Interested?</p>
                <p><a href="https://epicenter.epic.tech/" class="btn-footer">Discover more about Epic Cash</a></p>
            </div>
        </div>
        <footer id="home-footer-fp">
            <div class="row center-row">
                <div class="col">
                    <p>Copyright {{ site.time | date: '%Y' }} © Epicenter DAO</p>
                </div>
            </div>
        </footer>
    </div>
</div>
